<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">


	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- <init-param> <param-name>contextConfigLocation</param-name> <param-value></param-value> 
			</init-param> -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/dispatcher/*</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/spring/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>restful</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>restful</servlet-name>
		<url-pattern>/restful/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>xmlresolver</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>xmlresolver</servlet-name>
		<url-pattern>/xmlresolver/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>resourcebundle</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>resourcebundle</servlet-name>
		<url-pattern>/resourcebundle/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>urlbased</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>urlbased</servlet-name>
		<url-pattern>/urlbased/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>chainview</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>chainview</servlet-name>
		<url-pattern>/chainview/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>negotiating</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>negotiating</servlet-name>
		<url-pattern>/negotiating/*</url-pattern>
	</servlet-mapping>
	<!-- you define spring-root.xml in main/resources, it will appear in /WEB-INF/classes/ -->
	<!-- you can define classpath:xxx here, it is inside of web.xml, but, this parameter is passed to spring as a whole part. -->
	<!-- it seems that WEB-INF/classes/spring-root.xml are not working -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-root.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


</web-app>